body {
  background: #1A202B;
  color: #e6e6e6;
}

ul {
  list-style: none;
}

ul,
li,
p {
  margin: 0;
  padding: 0;
}

button:focus {
  outline: none;
}

input:focus {
  outline: none;
}

.mt--1 {
  margin-top: 0.25rem;
}

.mb--1 {
  margin-bottom: 0.25rem;
}

.mt--2 {
  margin-top: 0.5rem;
}

.mb--2 {
  margin-bottom: 0.5rem;
}

.mt--3 {
  margin-top: 0.75rem;
}

.mb--3 {
  margin-bottom: 0.75rem;
}

.mt--4 {
  margin-top: 1rem;
}

.mb--4 {
  margin-bottom: 1rem;
}

.mt--5 {
  margin-top: 1.25rem;
}

.mb--5 {
  margin-bottom: 1.25rem;
}

.mt--6 {
  margin-top: 1.5rem;
}

.mb--6 {
  margin-bottom: 1.5rem;
}

.mt--7 {
  margin-top: 1.75rem;
}

.mb--7 {
  margin-bottom: 1.75rem;
}

.mt--8 {
  margin-top: 2rem;
}

.mb--8 {
  margin-bottom: 2rem;
}

.mt--9 {
  margin-top: 2.25rem;
}

.mb--9 {
  margin-bottom: 2.25rem;
}

.mt--10 {
  margin-top: 2.5rem;
}

.mb--10 {
  margin-bottom: 2.5rem;
}

.mt--11 {
  margin-top: 2.75rem;
}

.mb--11 {
  margin-bottom: 2.75rem;
}

.mt--12 {
  margin-top: 3rem;
}

.mb--12 {
  margin-bottom: 3rem;
}

.mt--13 {
  margin-top: 3.25rem;
}

.mb--13 {
  margin-bottom: 3.25rem;
}

.mt--14 {
  margin-top: 3.5rem;
}

.mb--14 {
  margin-bottom: 3.5rem;
}

.mt--15 {
  margin-top: 3.75rem;
}

.mb--15 {
  margin-bottom: 3.75rem;
}

.mt--16 {
  margin-top: 4rem;
}

.mb--16 {
  margin-bottom: 4rem;
}

.mt--17 {
  margin-top: 4.25rem;
}

.mb--17 {
  margin-bottom: 4.25rem;
}

.mt--18 {
  margin-top: 4.5rem;
}

.mb--18 {
  margin-bottom: 4.5rem;
}

.mt--19 {
  margin-top: 4.75rem;
}

.mb--19 {
  margin-bottom: 4.75rem;
}

.mt--20 {
  margin-top: 5rem;
}

.mb--20 {
  margin-bottom: 5rem;
}

.input-form {
  display: flex;
  align-items: center;
  gap: 12px;
}
.input-form .input-field {
  padding: 8px 12px;
  background: rgba(255, 255, 255, 0.08);
  border: 2px solid rgba(255, 255, 255, 0.1);
  border-radius: 4px;
  color: #d2d2d2;
  font-size: 1.075rem;
  height: 50px;
  line-height: 50px;
  flex-basis: 75%;
  transition: 0.3s;
}
.input-form .input-field:focus {
  outline: none;
  border-color: rgba(128, 0, 128, 0.1803921569);
}
.input-form .submit-btn {
  display: inline-block;
  height: 50px;
  flex-grow: 1;
  border: none;
  background: repeating-linear-gradient(45deg, purple, transparent 100px);
  color: #ededed;
  border-radius: 4px;
  font-weight: 500;
  margin-top: -1px;
  transition: 0.3s;
}
.input-form .submit-btn:active {
  outline: none;
  scale: 0.95;
}

.todo-list {
  border: 2px solid rgba(255, 255, 255, 0.1);
  border-radius: 4px;
}
.todo-list li {
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: space-between;
  margin: 0 16px;
  padding: 16px 0;
}
.todo-list li + li {
  border-top: 2px solid rgba(255, 255, 255, 0.1);
}
.todo-list li p {
  flex-grow: 1;
}
.todo-list .options {
  display: flex;
  align-items: center;
  gap: 12px;
}
.todo-list .options button {
  border: 2px solid rgba(255, 255, 255, 0.1);
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  font-size: 1rem;
  color: #d2d2d2;
  background: rgba(255, 255, 255, 0.08);
}
.todo-list .options button:active {
  outline: none;
  scale: 0.95;
}

.task-completed {
  text-decoration: line-through;
  opacity: 0.4;
}

.mark-btn {
  position: relative;
}
.mark-btn::after {
  content: "Mark as complete";
  position: absolute;
  white-space: nowrap;
  background: black;
  color: white;
  height: 40px;
  line-height: 35px;
  padding: 0 20px;
  border-radius: 8px;
  bottom: calc(100% + 0px);
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  visibility: hidden;
  transition: 0.1s;
}
.mark-btn::before {
  content: "";
  position: absolute;
  height: 24px;
  width: 24px;
  background: black;
  bottom: calc(100% - 8px);
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
  opacity: 0;
  visibility: hidden;
  transition: 0.1s;
}
.mark-btn:hover::after, .mark-btn:hover::before {
  opacity: 1;
  visibility: visible;
}
.mark-btn:hover:after {
  bottom: calc(100% + 16px);
}
.mark-btn:hover:before {
  bottom: calc(100% + 8px);
}

/*# sourceMappingURL=style.css.map */
