body {
  background: #1A202B;
  color: #e6e6e6;
}

ul {
  list-style: none;
}

ul,
li,
p {
  margin: 0;
  padding: 0;
}

button:focus {
  outline: none;
}

input:focus {
  outline: none;
}

.mt--1 {
  margin-top: 0.25rem;
}

.mb--1 {
  margin-bottom: 0.25rem;
}

.pt--1 {
  padding-top: 0.25rem;
}

.pb--1 {
  padding-bottom: 0.25rem;
}

.mt--2 {
  margin-top: 0.5rem;
}

.mb--2 {
  margin-bottom: 0.5rem;
}

.pt--2 {
  padding-top: 0.5rem;
}

.pb--2 {
  padding-bottom: 0.5rem;
}

.mt--3 {
  margin-top: 0.75rem;
}

.mb--3 {
  margin-bottom: 0.75rem;
}

.pt--3 {
  padding-top: 0.75rem;
}

.pb--3 {
  padding-bottom: 0.75rem;
}

.mt--4 {
  margin-top: 1rem;
}

.mb--4 {
  margin-bottom: 1rem;
}

.pt--4 {
  padding-top: 1rem;
}

.pb--4 {
  padding-bottom: 1rem;
}

.mt--5 {
  margin-top: 1.25rem;
}

.mb--5 {
  margin-bottom: 1.25rem;
}

.pt--5 {
  padding-top: 1.25rem;
}

.pb--5 {
  padding-bottom: 1.25rem;
}

.mt--6 {
  margin-top: 1.5rem;
}

.mb--6 {
  margin-bottom: 1.5rem;
}

.pt--6 {
  padding-top: 1.5rem;
}

.pb--6 {
  padding-bottom: 1.5rem;
}

.mt--7 {
  margin-top: 1.75rem;
}

.mb--7 {
  margin-bottom: 1.75rem;
}

.pt--7 {
  padding-top: 1.75rem;
}

.pb--7 {
  padding-bottom: 1.75rem;
}

.mt--8 {
  margin-top: 2rem;
}

.mb--8 {
  margin-bottom: 2rem;
}

.pt--8 {
  padding-top: 2rem;
}

.pb--8 {
  padding-bottom: 2rem;
}

.mt--9 {
  margin-top: 2.25rem;
}

.mb--9 {
  margin-bottom: 2.25rem;
}

.pt--9 {
  padding-top: 2.25rem;
}

.pb--9 {
  padding-bottom: 2.25rem;
}

.mt--10 {
  margin-top: 2.5rem;
}

.mb--10 {
  margin-bottom: 2.5rem;
}

.pt--10 {
  padding-top: 2.5rem;
}

.pb--10 {
  padding-bottom: 2.5rem;
}

.mt--11 {
  margin-top: 2.75rem;
}

.mb--11 {
  margin-bottom: 2.75rem;
}

.pt--11 {
  padding-top: 2.75rem;
}

.pb--11 {
  padding-bottom: 2.75rem;
}

.mt--12 {
  margin-top: 3rem;
}

.mb--12 {
  margin-bottom: 3rem;
}

.pt--12 {
  padding-top: 3rem;
}

.pb--12 {
  padding-bottom: 3rem;
}

.mt--13 {
  margin-top: 3.25rem;
}

.mb--13 {
  margin-bottom: 3.25rem;
}

.pt--13 {
  padding-top: 3.25rem;
}

.pb--13 {
  padding-bottom: 3.25rem;
}

.mt--14 {
  margin-top: 3.5rem;
}

.mb--14 {
  margin-bottom: 3.5rem;
}

.pt--14 {
  padding-top: 3.5rem;
}

.pb--14 {
  padding-bottom: 3.5rem;
}

.mt--15 {
  margin-top: 3.75rem;
}

.mb--15 {
  margin-bottom: 3.75rem;
}

.pt--15 {
  padding-top: 3.75rem;
}

.pb--15 {
  padding-bottom: 3.75rem;
}

.mt--16 {
  margin-top: 4rem;
}

.mb--16 {
  margin-bottom: 4rem;
}

.pt--16 {
  padding-top: 4rem;
}

.pb--16 {
  padding-bottom: 4rem;
}

.mt--17 {
  margin-top: 4.25rem;
}

.mb--17 {
  margin-bottom: 4.25rem;
}

.pt--17 {
  padding-top: 4.25rem;
}

.pb--17 {
  padding-bottom: 4.25rem;
}

.mt--18 {
  margin-top: 4.5rem;
}

.mb--18 {
  margin-bottom: 4.5rem;
}

.pt--18 {
  padding-top: 4.5rem;
}

.pb--18 {
  padding-bottom: 4.5rem;
}

.mt--19 {
  margin-top: 4.75rem;
}

.mb--19 {
  margin-bottom: 4.75rem;
}

.pt--19 {
  padding-top: 4.75rem;
}

.pb--19 {
  padding-bottom: 4.75rem;
}

.mt--20 {
  margin-top: 5rem;
}

.mb--20 {
  margin-bottom: 5rem;
}

.pt--20 {
  padding-top: 5rem;
}

.pb--20 {
  padding-bottom: 5rem;
}

.input-form {
  display: flex;
  align-items: center;
  gap: 12px;
}
.input-form .input-field {
  padding: 8px 12px;
  background: rgba(255, 255, 255, 0.08);
  border: 2px solid rgba(255, 255, 255, 0.1);
  border-radius: 4px;
  color: #d2d2d2;
  font-size: 1.075rem;
  height: 50px;
  line-height: 50px;
  flex-basis: 75%;
  transition: 0.3s;
}
.input-form .input-field:focus {
  outline: none;
  background: rgba(255, 255, 255, 0.06);
  border-color: rgba(255, 255, 255, 0.2);
}
.input-form .submit-btn {
  display: inline-block;
  height: 50px;
  flex-grow: 1;
  border: none;
  background: repeating-linear-gradient(45deg, purple, transparent 100px);
  color: #ededed;
  border-radius: 4px;
  font-weight: 500;
  margin-top: -1px;
  transition: 0.3s;
}
.input-form .submit-btn:active {
  outline: none;
  scale: 0.95;
}

.devider {
  position: relative;
  height: 2px;
}
.devider::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, 0.1);
}

.todo-list {
  margin-top: 24px;
}
.todo-list li {
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 16px 0;
  border: 2px solid rgba(255, 255, 255, 0.1);
  border-radius: 4px;
}
.todo-list li:first-child {
  border-radius: 4px 4px 0 0;
}
.todo-list li:last-child {
  border-radius: 0 0 4px 4px;
}
.todo-list li + li {
  border-top: none;
  border-radius: 0;
}
.todo-list li p {
  flex-grow: 1;
}
.todo-list .options {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-right: 12px;
}
.todo-list .options button {
  border: 2px solid rgba(255, 255, 255, 0.1);
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  font-size: 1rem;
  color: #d2d2d2;
  background: rgba(255, 255, 255, 0.08);
}
.todo-list .options button:active {
  outline: none;
  scale: 0.95;
}

.task-completed {
  text-decoration: line-through;
  opacity: 0.4;
}

.mark-btn {
  position: relative;
  margin-left: 12px;
}
.mark-btn::after {
  content: "Mark as complete";
  position: absolute;
  white-space: nowrap;
  background: black;
  color: white;
  height: 40px;
  line-height: 35px;
  padding: 0 20px;
  border-radius: 8px;
  bottom: calc(100% + 0px);
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  visibility: hidden;
  transition: 0.1s;
}
.mark-btn::before {
  content: "";
  position: absolute;
  height: 24px;
  width: 24px;
  background: black;
  bottom: calc(100% - 8px);
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
  opacity: 0;
  visibility: hidden;
  transition: 0.1s;
}
.mark-btn:hover::after, .mark-btn:hover::before {
  opacity: 1;
  visibility: visible;
}
.mark-btn:hover:after {
  bottom: calc(100% + 16px);
}
.mark-btn:hover:before {
  bottom: calc(100% + 8px);
}

.weather-display-area .weather-display-content {
  background: url(../images/bg-img.png);
  background-size: cover;
  margin-top: 24px;
  border-radius: 6px;
  overflow: hidden;
}
.weather-display-area .weather-display-content .weather-display-card {
  padding: 56px;
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(10px);
  margin: 0 auto;
  text-align: center;
  color: #fbfbfb;
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
}
.weather-display-area .weather-display-content .weather-display-card .sun-time {
  display: inline-block;
  font-size: 0.725rem;
  height: 30px;
  line-height: 28px;
  background: rgba(0, 0, 0, 0.2);
  width: fit-content;
  padding: 0 24px;
  border-radius: 4px;
  position: absolute;
  top: 12px;
}
.weather-display-area .weather-display-content .weather-display-card .sun-time.sunrise {
  left: 12px;
}
.weather-display-area .weather-display-content .weather-display-card .sun-time.sunset {
  right: 12px;
}
.weather-display-area .weather-display-content .weather-display-card .city-name {
  font-size: 1.5rem;
  text-transform: capitalize;
  margin-bottom: 24px;
}

.temperature-wrap .temperature {
  font-size: 4rem;
  display: block;
  line-height: 1;
  position: relative;
  width: fit-content;
  margin: 0 auto;
}
.temperature-wrap .temperature .weather-description {
  display: inline-block;
  background: rgba(255, 255, 255, 0.1);
  padding: 2px 12px 4px;
  font-size: 1rem;
  line-height: 1.5;
  white-space: nowrap;
  text-transform: capitalize;
  border-radius: 4px;
  position: absolute;
  bottom: 80%;
  left: 105%;
}
.temperature-wrap .temp-feel {
  display: inline-block;
  margin: 16px 0;
}

.temp-meta {
  display: flex;
  gap: 8px;
  justify-content: center;
}
.temp-meta li {
  background: rgba(255, 39, 39, 0.06);
  backdrop-filter: blur(20px);
  padding: 12px;
  min-width: 132px;
  border-radius: 8px;
}
@media screen and (max-width: 767px) {
  .temp-meta li {
    min-width: 104px;
  }
}

.toast-message {
  position: absolute;
  top: -50%;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(255, 255, 255, 0.3);
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 0 16px;
  height: 36px;
  border-radius: 24px;
  line-height: 36px;
  font-size: 1rem;
  transition: 0.3s;
}
.toast-message.show-toast {
  top: 4%;
}
.toast-message .icon {
  background: #a50909;
  height: 24px;
  width: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

/*# sourceMappingURL=style.css.map */
